@keyframes left-move {
  50% {
    left: 0;
    width: 14px;
    height: 14px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 14px;
    height: 14px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
