$main-color: #2296f3;
$primary-color: #fafafa;
$background-box: #ececec;
$text-color: #777;
$white: #fff;
$black: #000;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-content {
  display: flex;
  justify-content: center;
  h2 {
    position: relative;
    padding: 10px 20px;
    border: 2px solid $black;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 70px;
    transition: 0.3s;
    z-index: 10;
    cursor: pointer;

    &:after,
    &:before {
      content: "";
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: $main-color;
      position: absolute;
      top: 50%;
      z-index: -1;
      transform: translateY(-50%);
    }

    &:after {
      left: -30px;
      transition: 0.3s;
    }

    &:before {
      right: -30px;
    }

    &:hover {
      color: white;
      border: 2px solid white;
      transition-delay: 0.5s;

      &:after {
        animation: left-move 0.5s linear forwards;
      }

      &:before {
        animation: right-move 0.5s linear forwards;
      }
    }
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: 767px) and (max-width: 991px) {
    width: 767px;
  }

  @media (min-width: 992px) and (max-width: 1999px) {
    width: 991px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}
